<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game List</title>
</head>
<body>
    <h1>Game List</h1>
    
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.title}"></td>
            <td th:text="${game.description}"></td>
        </tr>
    </table>
    <!-- Default Statcounter code for Game Recommendation http://group-name.com -->
<script type="text/javascript">
    var sc_project=12939560; 
    var sc_invisible=1; 
    var sc_security="d40ddb00"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12939560/0/d40ddb00/1/" alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>
</html>
